name: animated_bottom_navigation_bar
description: Animated Bottom Navigation Bar Widget implementation inspired by https://dribbble.com/shots/7134849-Simple-Tab-Bar-Animation
version: 1.3.0
homepage: https://github.com/LanarsInc/animated-bottom-navigation-bar-flutter

environment:
  sdk: '>=2.12.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
